machine_fqdn:
  value: registry.${cluster_domain}
check_ssl_usage:
  enabled: false
oauth:
  github:
    enabled: true
    client_id: ${oauth_client_id}
    client_secret: ${oauth_client_secret}
    organization: ${oauth_organization}
    team: ${oauth_team}
registry:
  jwt_expiration_time:
    value: 3600
  timeout:
    value: 2
  read_timeout:
    value: 180
  catalog_page:
    value: 100
delete:
  enabled: true
  contributors: true
  garbage_collector:
    enabled: true
    older_than: 180
    tag: ''
background:
  registry:
    enabled: true
  sync:
    enabled: true
    strategy: update-delete
security:
  clair:
    server: ''
    health_port: 6061
    timeout: 900
user_permission:
  change_visibility:
    enabled: true
  create_team:
    enabled: true
  manage_team:
    enabled: true
  create_namespace:
    enabled: true
  manage_namespace:
    enabled: true
  create_webhook:
    enabled: true
  manage_webhook:
    enabled: true
  push_images:
    policy: allow-teams
anonymous_browsing:
  enabled: true
first_user_admin:
  enabled: true
signup:
  enabled: false
display_name:
  enabled: true
gravatar:
  enabled: true
